.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .map {
        border: 1px solid #000;
        border-radius: 8px;
        @media (max-width: 600px) {
            width: 300px;
            height: 150px;
        }
        @media (max-width: 360px) {
            width: 200px;
            height: 150px;
        }
    }
}